/* About page  */

.about-header {
  margin-bottom: 0;
}

.main-about {
  margin: 0 200px 100px 200px;
}

.about-nav {
  margin-bottom: 26px;
}

.h1-about {
  color: var(--default-font-color);
  margin-bottom: 126px;
}

h2 {
  font-size: 64px;
  line-height: 87px;
  margin-bottom: 36px;
}

.main-about__content {
  display: flex;
  align-items: center;
}

.about-text__links {
  display: flex;
}

.links-text {
  margin-right: 30px;
}

.about-icon:not(:last-child) {
  margin-right: 30px;
}

.about-menu {
  margin-bottom: 100px;
}

.menu__heading {
  font-size: 36px;
  line-height: 39px;
  margin-bottom: 41px;
  text-align: center;
}

.menu_favorite {
  display: flex;
}

.menu_favorite h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 820px) and (max-width: 992px) {
  .h1-about {
    font-size: 68px;
    line-height: 70px;
    margin-bottom: 90px;
  }

  .main-about {
    margin: 0 100px 50px 100px;
  }

  .main-about__content {
    text-align: center;
  }

  .about-text__heading h2 {
    font-size: 46px;
    line-height: 50px;
    margin-bottom: 20px;
  }
}

@media (min-width: 577px) and (max-width: 819px) {
  .h1-about {
    font-size: 56px;
    line-height: 60px;
    margin-bottom: 50px;
  }

  .main-about {
    margin: 0 60px 30px 60px;
  }

  .main-about__img {
    margin-bottom: 15px;
  }

  .main-about__content {
    text-align: center;
  }

  .about-text__heading h2 {
    font-size: 38px;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .about-menu {
    text-align: center;
  }

  .menu__item {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .h1-about {
    font-size: 44px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .main-about {
    margin: 0 30px 15px 30px;
  }

  .main-about__content {
    text-align: center;
  }

  .about-text__heading h2 {
    font-size: 38px;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .about-text__links {
    justify-content: center;
  }

  .about-menu {
    text-align: center;
  }

  .menu__item {
    margin-bottom: 20px;
  }
}
