.contacts__heading {
  margin-bottom: 126px;
}

.contacts__heading h1 {
  color: var(--default-font-color);
  font-weight: 700;
}

.contacts__details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 100px;
}

.text-contact {
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
}

.text-contact a {
  text-decoration: none;
  color: var(--default-font-color);
}

.text-heading {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--contact-page-heading-color);
  text-transform: uppercase;
}

.contacts__text-item:not(:last-child) {
  margin-bottom: 50px;
}

.contacts__text i {
  margin-right: 15px;
}

@media (max-width: 576px) {
  .contacts__heading {
    margin-bottom: 40px;
  }

  .contacts__heading h1 {
    font-size: 46px;
    line-height: 50px;
  }

  .contacts__details {
    flex-direction: column;
  }
}

@media (min-width: 577px) and (max-width: 819px) {
  .contacts__heading {
    margin-bottom: 75px;
  }

  .contacts__heading h1 {
    font-size: 53px;
    line-height: 65px;
  }
}
