:root {
  --default-font-family: "Nunito", sans-serif;
  --default-font-color: #272142;
  --secondary-font-color: #fff;
  --active-font-color: #662eed;
  --recipe-step-heading: #f65282;
  --footer-bg: #f9f7fe;
  --border-color: #67d5d2;
}

body {
  font-family: var(--default-font-family);
  color: var(--default-font-color);
}

.header {
  margin-top: 48px;
  margin-bottom: 62px;
  font-size: 16px;
  line-height: 22px;
}

.header .container-fluid .collapse {
  justify-content: flex-end;
}

.navbar-nav .nav-item .nav-link.active.clicked {
  color: var(--active-font-color);
}

.menu {
  margin: 0 140px;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: var(--default-font-color);
}

.hero {
  max-width: 1440px;
  height: 265px;
  background-image: url(/images/overlay.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h3 {
  color: var(--secondary-font-color);
  text-align: center;
}

h1 {
  font-size: 72px;
  line-height: 98px;
}

h3 {
  font-size: 24px;
  line-height: 35px;
  max-width: 560px;
  margin: auto;
}

.hero__text {
  padding: 47px 0;
}

.main__container {
  margin: 100px auto;
}

.main__text {
  font-size: 28px;
  line-height: 38px;
  text-align: left;
  margin: 20px 0 50px 38px;
}

.footer {
  background: var(--footer-bg);
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
}

.footer a,
.about-text__links a {
  text-decoration: none;
  color: var(--default-font-color);
}

.footer__icon:not(:last-child) {
  margin-right: 20px;
}

.footer__rights {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .header {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .menu {
    margin: 0 10px;
  }

  .hero {
    height: auto;
  }

  h1 {
    font-size: 46px;
    line-height: 60px;
  }

  h3 {
    font-size: 18px;
    line-height: 28px;
  }

  .main__container {
    margin: 55px auto;
  }

  .main__text {
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    margin: 5px 0 15px 0px;
  }

  .footer {
    padding: 30px 10px;
  }

  .footer img {
    display: none;
  }

  .footer__icon:not(:last-child) {
    margin-right: 10px;
  }

  .footer__rights {
    font-size: 14px;
  }
}

@media (min-width: 577px) and (max-width: 819px) {
  .header {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .menu {
    margin: 0 30px;
  }

  h1 {
    font-size: 60px;
    line-height: 80px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  .main__container {
    margin: 70px auto;
  }

  .main__text {
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0 25px 0px;
  }

  .footer {
    padding: 30px 50px;
  }

  .footer__logo {
    width: 100px;
  }

  .footer__icon:not(:last-child) {
    margin-right: 10px;
  }
}

@media (min-width: 820px) and (max-width: 992px) {
  .header {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .menu {
    margin: 0 30px;
  }

  .main__text {
    font-size: 20px;
    line-height: 24px;
    margin: 10px 0 25px 0px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .menu {
    margin: 50px 80px;
  }
}
